<div>
  <nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right">Mongo Scraper</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="home.handlebars">Home</a></li>
      <li><a href="saved.handlebars">Saved Articles</a></li>

      <!-- <li><a href="collapsible.html">JavaScript</a></li> -->
    </ul>
  </div>

</nav>


<div class="articles">
<div class="title">
  <!-- FIND A WAY TO SET THE URL SAVED AS AN HREF ATTRIBUTE -->
  <!-- <div class="URL"></div> -->
</div>
<div class="summary"></div>
</div>
</div>
  <!-- <div class="title">Title</div>
    <div class="sum">summary</div>
      <div class="URL">URL</div> -->





<script src="app.js"> </script>
